<div class="board w-full h-full">
	<ng-container *ngFor="let row of board; let x = index">
		<!-- [ngClass]="{'mr-2': piece.type==PieceType.PAWN}" -->

		<div
			class="square"
			*ngFor="let piece of row; let y = index"
			(click)="onSquareClick(piece)"
			[ngClass]="{
				focused: piece === focusedPiece,
				'could-move':
					focusedPiece != null &&
					couldMove({ rank: piece.rank, file: piece.file }),
				'is-piece': piece.color != Color.NONE
			}"
		>
			<img
				*ngIf="piece != undefined"
				[attr.src]="piece.imageUrl"
				class="w-full"
			/>
		</div>
	</ng-container>
</div>
